global-include *.py
global-include *.txt
global-include *.owl
global-include *.rst
global-include *.js
global-include *.css

include doc/aa.owl
include doc/aa.py
include doc/aa_fr.py
include doc/erectile_dysfunction_drugs.py
include doc/limics.py

exclude doc/aide*.py
exclude doc/example1.py
exclude doc/hta.py
exclude doc/hta2.py
exclude doc/meddra.py
exclude doc/parcours.py
exclude doc/cismef.py
exclude doc/sujet_stage.py

include LICENSE.txt
include README.rst

exclude .hg
exclude .hg/*

global-exclude *.pyc
global-exclude *.pyo
global-exclude catalog-v001.xml
global-exclude __pycache__

